/*Colors to use
Dark - Tropical Green - #00755E
Medium - Amazon - #3B7A57
Light - Jungle Green - #29AB87 */

/*Style for the entire document*/
body {
    /*Font*/
    font-family: 'Courier';
    font-size: 20px;
    /*Margin*/
    margin: 50px 150px 0 50px;
}

/*Style for the Horizontal Rule*/
hr {
    /*Size*/
    height: 0.12in;
    /*Color*/
    background-color: green;
    /*Border*/
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

/*Style my picture*/
img {
    float: right;
    margin: 50px 50px 0px 0px;
    width: 25%;
    border-radius: 50px;
}

/*Style for the Heading2*/
h1 {
    /*Color*/
    color: #3B7A57;
}

/*Style for the Heading3*/
h3 {
    /*Color*/
    color: #29AB87;
}

/*Style the links*/
a {
    color: black;
}

a:hover {
    color: #00755E;
}

/*Style bold elements*/
.bold {
    font-weight: bold;
}

/*Style italic elements*/
.italics {
    font-style: italic;
}

/*Style dates*/
.dates {
    font-size: medium;
}

/*Remove standard bullets*/
li {
    list-style: none;
}

/*Add right-pointing pointer as new bullet*/
li::before {
    content: '\25BA';
    padding-right: 1em;
    color: green;
}

/*Style for the print button*/
#print-button {
    /*Position*/
    float: right;
    margin-top: -80px;
    margin-right: -450px;
    /*Size*/
    font-size: larger;
    padding: 2px 10px 2px 10px;
    /*Border*/
    border-radius: 10px;
    /*Pointer*/
    cursor: pointer;
}

#print-button:hover {
    color: white;
    background-color: #29AB87;
}

/*Change the way the page looks for printing*/
@media print {
    body {
        /*Font*/
        font-family: serif;
        font-size: 13.5px;
        /*Margin*/
        margin: 0.25in 0.5in 0.5in 0.5in;
    }

    .dates {
        font-size: 12px;
    }

    #print-button {
        /*Remove print button*/
        display: none;
    }

    #scroll-container {
        margin-bottom: 0px;
    }

    img {
        margin: -50px 20px 0px 0px;
        width: 20%;
    }
}

/*Style the Hard Skills table*/
table {
    width: 100%;
}

td {
    text-align: center;
    width: 25%;
}

/*Style the container that hold the scrolling text*/
#scroll-container {
    border: 3px solid #00755E;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
}

/*Style the scrolling text*/
#scroll-text span {
    text-align: justify;
}

#scroll-text span::after {
    content: "";
    display: inline-block;
    width: 10%;
}

/*Hide the second scroll text initially*/
#scroll-text2 {
    display: none;
}

/*Style the non-scrolling text for Soft Skills*/
#scroll-text2 span {
    text-align: justify;
}

#scroll-text2 span::after {
    content: "";
    display: inline-block;
    width: 8%;
}

/*Create scrolling text for Soft Skills*/
#scroll-text {
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}
  
/*Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}
  
/*Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}
  
@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}